extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content
    #questionsHeader
      h2 Top Questions
      a(href="/newQuestion" class="newQuestion")
        button New Question
      #sortBar
        button(class="sortButton sortButton--selected" id="recent") Recent
        button(class="sortButton" id="popular") Popular
    #questions
    #buttonContainer
      #pageSelection
