extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  #content
    #questionsHeader
      h2 Top Questions
      a(href="/newQuestion" class="newQuestion")
        button New Question
      #sortBar
        button(class="sortButton sortButton--selected" id="recent") Recent
        button(class="sortButton" id="popular") Popular
    #questions
      //- each question in questions
      //-   div(class="question")
      //-     if question.numberOfAnswers == 1
      //-       .answerNumber 1
      //-         div answer
      //-     else
      //-       .answerNumber #{question.numberOfAnswers}
      //-         div answers
      //-     if question.score == 1
      //-       .score 1
      //-         div vote
      //-     else
      //-       .score #{question.score}
      //-         div votes
      //-     div.titleDiv
      //-       a(class="title" href="/questions/#{question.id}")= question.title
      //-     .author= question.timeStamp
      //-       span
      //-         a(href='/users/#{question.userId}' class="userLink")= question.userName
    #pageSelection
