doctype html
html
  head
    block head
      title=title
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel='stylesheet' href='/stylesheets/main.css')
      script(src="https://kit.fontawesome.com/0ccb37cdbe.js" crossorigin="anonymous")
  body
    nav#navbar
      a(href='/' id="homeButton")
        img(id="homeButtonImage" src="../images/JSJungle.png" alt="logo")

      span(class="searchIcon" style="font-size: 1.6em; color: LightGreen;")
        i(class="fas fa-search")

      input(id="searchBar" type="search" placeholder="Search..." name='searchbar' class="textField")

      if true
        a(href='/users/1' id="profileButton")
          span(style="font-size: 2em; color: LightGreen;")
            i(class="fas fa-user")
        //- /users/#{user.id}
      else
        a(href='/users/login' id="logInLink")
          span(style="font-size: 2em; color: LightGreen;")
            i(class="fas fa-sign-in-alt")

    block content
