extends layout
include utils
block content
    div.wholePageContainer
        h1(id="heading")=title
        div.pageWidthContainer
            .container
                if errors
                    div#errorDiv
                        ul.errorsList
                            each error in errors
                                li=error
                div#formContainer
                    form(action="/users/login" method="post" id="form")
                        label(for="identification" id="labelID" class="formLabel") User Name
                        +field("identification", "text", "userName")
                        label(for="password" id="labelPass" class="formLabel") Password
                        +field("password", "password", "password")
                        input(type="submit" value="Log In" id="loginButton")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        a(href="/signup" id="signupLink"  class="formLabel") Sign Up
