extends layout
include utils
block content
    div.wholePageContainer
        h1(id="heading") Login
        div.pageWidthContainer
            .container
                if errors
                    div#errorDiv
                        ul.errorsList
                            each error in errors
                                li=error
                div#formContainer
                    form(action="/users/login" method="post" id="form")
                        +field2("Username/Email", "identification", "text", null, "labelUserSignUp")
                        +field2("Password", "password", "password")
                        input(type="submit" value="Log In" id="loginButton")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        a(href="/signup" id="signupLink" class="formLabel") Sign Up
