extends layout
include utils
block content
  if logoutButton
    h1 Hello, #{user.userName}
  else
    h1= user.userName

  if logoutButton
    form(method="post" action="/users/logout")
      button(id="logoutButton" type="submit") Logout
