extends layout
include utils
block content
    script(src="../javascripts/searchResults.js" type="module" defer)
    #content
        #questionsHeader
            h2.searchHeader Search Results For: #{searchTerm}
                span#searchTerm.searchHeader #{searchTerm}
            a(href="/new-question" class="newQuestion")
                button.buttonHover New Question
        #questions
        #buttonContainer
            #pageSelection
