h1 {
    color: #555555;
}

body {
    font: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.textField {
    border-radius: 6px;
    border: 3px solid rgb(59, 33, 3);
    background-color: rgb(235, 186, 131);
    color: black
}

.textField:focus {
    background-color: rgb(185, 147, 104);
    border: 3px solid lightgreen;
    outline: 0px;
}

.textField::placeholder {
    color: black
}

.formLabel {
    color: rgb(213,236,58);
    text-shadow: 2px 2px black;
    font-size: large;
}
